variables:
  TERRAFORM_DIR: terraform/

include:
  - project: "aiops/moira"
    ref: "master"
    file: "/gitlab-ci-files/gitlab-ci-basic.yml"

stages:
  - huskyCI
  - precommit
  - terraform-init
  - terraform-plan
  - terraform-apply
  - deploy

huskyCI:
  stage: huskyCI
  extends: .huskyCI
  allow_failure: true
  only:
    - merge_requests
    - dev
    - developer
    - beta
    - /release\/\d+.\d+.\d+/
    - master

preCommitStage:
  stage: precommit
  extends: .preCommit
  allow_failure: true

.terraform-base:
  image: docker.artifactory.globoi.com/devops-infra/terraform-tsuru:latest
  before_script:
    - terraform -chdir=$TERRAFORM_DIR init -backend-config=backend-$ENV.hcl -reconfigure
    - terraform -chdir=$TERRAFORM_DIR workspace new $ENV || true
    - terraform -chdir=$TERRAFORM_DIR workspace select $ENV

.terraform-init:
  extends: .terraform-base
  script:
    - echo "Terraform initialized for $ENV environment"
  artifacts:
    paths:
      - $TERRAFORM_DIR.terraform/
      - $TERRAFORM_DIR.terraform.lock.hcl

.terraform-plan:
  extends: .terraform-base
  script:
    - terraform -chdir=$TERRAFORM_DIR plan

.terraform-apply:
  extends: .terraform-base
  script:
    - terraform -chdir=$TERRAFORM_DIR apply -auto-approve
  when: manual
  allow_failure: false

.deploy:
  image: docker.artifactory.globoi.com/tsuru/tsuru:latest
  script:
    - tsuru app-deploy -a $APP_NAME --dockerfile ./Dockerfile .

# Development environment (dev branch)
terraform-init:dev:
  stage: terraform-init
  extends: .terraform-init
  environment: dev
  variables:
    ENV: dev
  rules:
    - if: $CI_COMMIT_REF_NAME == "dev"

terraform-plan:dev:
  stage: terraform-plan
  extends: .terraform-plan
  environment: dev
  variables:
    ENV: dev
  rules:
    - if: $CI_COMMIT_REF_NAME == "dev"

terraform-apply:dev:
  stage: terraform-apply
  extends: .terraform-apply
  environment: dev
  variables:
    ENV: dev
  rules:
    - if: $CI_COMMIT_REF_NAME == "dev"

deploy:dev:
  stage: deploy
  extends: .deploy
  environment: dev
  rules:
    - if: $CI_COMMIT_REF_NAME == "dev"

# Production environment (main branch)
terraform-init:prd:
  stage: terraform-init
  extends: .terraform-init
  environment: prd
  variables:
    ENV: prd
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"

terraform-plan:prd:
  stage: terraform-plan
  extends: .terraform-plan
  environment: prd
  variables:
    ENV: prd
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"

terraform-apply:prd:
  stage: terraform-apply
  extends: .terraform-apply
  environment: prd
  variables:
    ENV: prd
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"

deploy:prd:
  stage: deploy
  extends: .deploy
  environment: prd
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"